
<%- include('../partials/head') %>
 
<body>
    <%- include('../partials/header') %>
   
<main>
        <h2 class="titulo">Mis Compras:</h2>
        
        <% product.forEach(element => { %>
    <section class="cuadrado" id="mainOne">
        <article>
    <section class="divUno">      
        <picture class= "imagenProducto"></picture>
            <img src= "/uploads/<%=element.File.url %>">
        </picture>
    <section class="datos">    
        <h3 class="name"> <%= element.name%> </h3>
        <!-- <h3 class="precio"> $ <%= element.price %> </h3> -->
    </section>    
</section>  
    <section class="parteBoton">
        <button class="boton" type="submit">Repetir Experiencia</button>
    </section>
        </article>
    </section>  
    <% }) %>
</main>
   
 
     <%- include('../partials/footer') %>
 
</body>
</html>
