
<%- include('../partials/head') %>
 
<body>
    <%- include('../partials/header') %>
   
<main>
                 <h1 class="titulo">Mis Compras:</h1>
        
        <% product.forEach(element => { %>
    <section class="cuadrado" id="mainOne">
        <picture>
            <img class ="img" src= "/uploads/<%=element.File.url %>">
        </picture>
        <section>
            <h3 class="name"> <%= element.name%> </h3>
        </section>
            <button class="boton" type="submit">Repetir Experiencia</button>   
    </section>  
    <% }) %>
</main>
   
 
     <%- include('../partials/footer') %>
 
</body>
</html>
