
<%- include('../partials/head') %>
 
<body>
    <%- include('../partials/header') %>
   
<main>
        <h2 class="titulo">Mis Compras:</h2>
 
        <% product.forEach(element => { %>
    <section class="cuadrado" id="mainOne">
        <article>
    <div class="divUno">      
        <picture class= "imagenProducto"></picture>
            <img src= "/uploads/<%=element.image %>">
        </picture>
    <div class="datos">    
        <h3 class="name"> <%= element.name%> </h3>
        <h3 class="precio"> $ <%= element.price %> </h3>
    </div>    
    </div>  
        <button class="boton" type="submit">Repetir Experiencia</button>
        </article>
    </section>  
    <% }) %>
</main>
   
 
     <%- include('../partials/footer') %>
 
</body>
</html>
