<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/categories/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
     <section>
        <h1>NUESTRAS EXPERIENCIAS</h1>
    </section>
    <section class=lista>
            <% products.forEach(element => { %>
                <ul class= "listadoProductos">
                        <li class= "imagenDescripcion">
                            <picture class= "imagenProducto">
                            <img src= "/images/categorias/<%= element.image %>" class="imagenProducto">
                            </picture>
                            <h2 class= "tituloImagen"> <%= element.name %> </h2>
                            <p> <%= element.description %> </p>
                            <p class= "personaPrecio"> Para <%= element.persons %> personas | $ <%= element.price %> </p>
                            </a>
                            <p></p>
                        </li>
                </ul>
            <% }) %>
        </section>
    </main>
    
    <%- include('../partials/footer') %> 

</body>
</html>