<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">
<script>
    function mostrar(id)
       {
          var objeto=document.getElementById(id)
             objeto.style.display="block";
       }
       function ocultar(id)
       {
          var objeto=document.getElementById(id)
             objeto.style.display="none";
       }
 </script>
 
<body>
    <%- include('../partials/header') %> 
    

    <main>
        <section class="dflex" id="mainOne">
            <h2> <%= product.name %>  <h4><i class="far fa-star"></i><strong><%= product.starsAvg %> </strong></h4></h2> 
            
            <p> <%= product.resume %> </p>
        </section>
        <section class="dflex" id="mainTwo">
                                        
            <img src= "/uploads/<%=product.File.url %>">
            <article class="dflex">
                <h2> <%= product.title %> </h2>
                <p><i class="fas fa-map-marker-alt"></i> <%= product.location %> </p>
                <p><i class="fas fa-user-friends"></i> Para <%= product.persons %>  personas</p>
                <p><strong><i class="fas fa-dollar-sign"> </i> <%= product.price %></strong></p> 
                
                        <legend><strong>Formatos de regalo:</strong></legend>
                        <section class="botones">
                        <input type="button" id="buttonLeft" class="buttonLeft" onclick="mostrar('contenido1') & ocultar('contenido2')" value="Regalo Digital">
                        <input type="button" id="buttonRight" class="buttonRight" onclick="mostrar('contenido2') & ocultar('contenido1')" value="Regalo Físico">
                        </section>
                        <p class="format oculto" id="contenido1">Envío por email o whatsapp</p>
                        <p class="format oculto" id="contenido2">Retirá en nuestros locales</p>
                        
                
                  
        </section>             
        </article>  
            
            <section class="adminsIcons"> 
                <% if (user && user.isAdmin){ %>
                <a href="/products/editarProducto/<%= product.id %>"><i class="fas fa-pen"></i></a>
                
                <script>
                    // Confirmacion eliminación productos
                    function confirmDelete() {
                      let confirmDelete = confirm("Seguro que quiere eliminar este producto ?");
                      if (confirmDelete) {
                        alert("Producto eliminado");
                      } else {
                        event.preventDefault();
                      }
                    }
                </script>

                <form action="/products/?m=DELETE" method="post">
                  <input type="hidden" name="id" value="<%= product.id %>">
                  <button type="submit" class="deleteButton" onclick="confirmDelete()"><i class="fas fa-trash"></i></button>
                  
              </form>
        
        <% } else { %>   

        <a href="/favoritos"> <i class="fas fa-heart"></i> </a>

        <% }%>
        </section>
        <section class="dflex" id="mainThree">
            <button type="submit">
                <input type="checkbox">
                <label><strong>Agregar al carrito</strong></label>
            </button>
            <a href="/abrituexperiencia" class="marginTop">¿Te hicieron este regalo?</a>
        </section>
        <section>
            <img src="/images/metodosDePago.png" alt="">
        </section>
        <section class="dflex" id="mainFour">
            <div class="dflex">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <!--Cuando agrege lo mencionado antes de comentarios al listado de productos-->
                <p> (Promedio entre 10 opiniones)</p>
            </div>
            <section class="dflex" id="coments">
                <p><strong>Ver comentarios</strong></p>
                <i class="fas fa-arrow-down"></i>
                <p>( <%= coment.length %> )</p>
            </section>
        </section>
        <section class="dflex" id="mainFive">
            <% if (coment.length != 0 ) { %>
                <% coment.forEach(element => { %>
                    <article>
                        <h1><%= element.autor %> :</h1>
                        <p><%= element.estrellas %> <i class="far fa-star"></i></p>
                        <p class="comentario"><%= element.comentario %> </p>
                    </article>
                <% }) %>
                <% } else { %>  
                    <p class="sinComentarios">No hay comentarios por el momento.</p>
                 <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>     
</body>
</html>