<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>
        <section class="dflex" id="mainOne">
            <h2> <%= product.name %>  <h4><i class="far fa-star"></i><strong>4.3</strong></h4></h2> 
            
            <p> <%= product.resume %> </p>
        </section>
        <section class="dflex" id="mainTwo">
                                        
            <img src= "/images/categorias/<%= product.image %>"> 
            <article class="dflex">
                <h2> <%= product.title %> </h2>
                <p><i class="fas fa-map-marker-alt"></i> <%= product.location %> </p>
                <p><i class="fas fa-user-friends"></i> Para <%= product.persons %>  personas</p>
                <p><i class="fas fa-calendar"></i> Válido hasta el <%= product.expirationDate %> </p>
                <p><strong><i class="fas fa-dollar-sign"> </i> <%= product.price %></strong></p> 
                <form action="GET">
                    <fieldset class="dflex">
                        <legend><strong>Formatos de regalo:</strong></legend>
                        <button type="button" id="buttonLeft">
                            <input type="checkbox">
                            <label><p><strong> Regalo Dígital </strong></p></label>
                        </button>
                        <button type="button">
                            <input type="checkbox">
                            <label><p><strong> Regalo Físico </strong></p></label>
                        </button>
                        <p class="format">Envío por email o whatsapp</p>
                    </fieldset>
                </form>              
            </article>  
        </section>
        <section class="dflex" id="mainThree">
            <button type="submit"><strong>Comprar este ENJOY</strong></button>
            <P>¿Te hicieron este regalo?</P>
        </section>
        <section>
            <img src="/images/metodosDePago.png" alt="">
        </section>
        <section class="dflex" id="mainFour">
            <div class="dflex">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <!--Cuando agrege lo mencionado antes de comentarios al listado de productos-->
                <p> (Promedio entre 10 opiniones)</p>
            </div>
            <section class="dflex" id="coments">
                <p><strong>Ver comentarios</strong></p>
                <i class="fas fa-arrow-down"></i>
                <p>( <%= coment.length %> )</p>
            </section>
        </section>
        <section class="dflex" id="mainFive">
            <% if (coment.length != 0 ) { %>
                <% coment.forEach(element => { %>
                    <article>
                        <h1><%= element.autor %> :</h1>
                        <p><%= element.estrellas %> <i class="far fa-star"></i></p>
                        <p class="comentario"><%= element.comentario %> </p>
                    </article>
                <% }) %>
                <% } else { %>  
                    <p class="sinComentarios">No hay comentarios por el momento.</p>
                 <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>     
</body>
</html>