
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/<%=style%>.css">
<body>
    <%- include('../partials/header') %>

    <main>
        <section>
            
            <% if (results[0]) { %>
                <article class="duflex">Mostrando <%= results.length %> resultado/s</article>
                <section class="product" >    
                    <% results.forEach(element => { %>
                        <article class="duuflex">
                        <a href="/products/<%= element.id %>">
                        <article class="detalle">
                            <img src="/uploads/<%= element.File.url %>" >
                            <p> <%= element.name %></p>
                            
                            <p> $ <%= element.price %></p>

                        </article>
                        </a>
                        </article>
                    <% }) %>
                </section>
            <% } else { %>
                <p class="noHay">No hay resultados para su búsqueda</p>
                <% }%>
            
            

        </section>
    </main>

    
    <%- include('../partials/footer') %>
 
</body>
</html>