<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('./partials/header') %> 

    <main>
        <h1>Tus favoritos</h1>
        <% if (fav.length > 0 ) { %>
            <ul>
            <% fav.forEach(product => { %>
            <li>
                <%= product.name %> 
            </li>
            <% });%>

    </ul>

    <% } else {%>
        <h3 class="subtitulo">Guardá en esta sección las experiencias que más te gustaron !</h3>
        
    <% };%>
    </main>

    <%- include('./partials/footer') %> 
</body>
