<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('./partials/header') %> 

    <main>
        <h1>Tus favoritos</h1>
        <% if (fav.length > 0 ) { %>
            <ul>
            <% fav.forEach(product => { %>
            
                <li>
                    <a href="/products/<%= product.id %>">
                        <%= product.name %>  
                `   </a>
                    <form action="/products/eliminar_favs" method="post">
                        <input type="hidden" name="id" value='<%= product.id %> '>
                        <button type="submit"><i class="far fa-heart"></i></button>
                    </form>
                </li>
          
            <% });%>
            

    </ul>

    <% } else {%>
        <h3 class="subtitulo">Guardá en esta sección las experiencias que más te gustaron !</h3>
        
    <% };%>
    </main>
    <%- include('./partials/footer') %> 
</body>
