<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">
<script>
   function mostrar(id)
      {
         var objeto=document.getElementById(id)
            objeto.style.display="block";
      }
      function ocultar(id)
      {
         var objeto=document.getElementById(id)
            objeto.style.display="none";
      }
</script>


<body>
    <%- include('./partials/header') %> 
   
    <main>
        
        <section class="tituloPortada">

           <h1 class= "titulo"> <a id="titulo" href="/comofunciona"> ¿Qué es y cómo funciona ENJOY?</a></h1>
           <div class="portada">       
            <picture>
                <img src="/images/Portada.png" alt="portada">
            </picture>
        </div>
        </section>
        <section class="navegacionPrincipal" id="recomendados">
            <nav class="nPrincipal">
                <div class="navegacion regala">
                    <picture>
                        <img src="/images/image 1.png" id="imagenNavegacion" alt="regala">
                    </picture>
                <a href="#nuevo" id="tituloNavegacion">¡Regalá!</a>
                </div>
                <div class="navegacion recomendados">
                <a href="#nuevo" id="tituloNavegacion">Recomendados</a>
                </div>
                <div class=" navegacion motivos">
                    <picture>
                        <img src="/images/image 2.png" id="imagenNavegacion" alt="motivos">
                    </picture>
                <a href="/categories" id="tituloNavegacion">Nuestras categorías</a>
                </div>
                <div class="navegacion ideas">
                    <picture class= "lampara">
                        <img src="/images/image 3.png" id="imagenNavegacion" alt="ideas">
                    </picture>
                <a href="/products" id="tituloNavegacion">Mirá todas las experiencias</a>
                </div>
            </nav>
       
        </section>
     
        <section class="navegacionSecundaria" id="vendidosNuevos">
            
            <nav class="navSecundaria">
            
                <div class="masVendidos">
                <input type="button"  onclick="mostrar('contenido1') & ocultar('contenido2')" value="Más vendidos"> 
                </div>
                <div class="masNuevos">
                <input type="button" onclick="mostrar('contenido2') & ocultar('contenido1')"  value="¡Nuevos!">
                </div>
            </a>
            </nav>
        </section>
        
        <section class="productos oculto" id="contenido1">
            <% products.forEach(element => { %>
                <%if (element.id <4 ) { %>
            <section class="prod" >     
            <a href="/products/<%= element.id %>"></a>
            <article class= "producto1">
            <div class="imagenIconos">
            <picture class= "imagenProducto">
            <img src="/uploads/<%= element.File.url %>" alt="spa">
            </picture>
            <h3 class="tituloImagen"><%= element.name %></h3>
            <div class="iconosImagen">
            <i class="far fa-heart corazon"></i>
            <i class="far fa-user usuario"></i>
            </div>
            </div>
            <div class="caracteristicas">
            <h4 class= "tituloProducto"> <%= element.name %></h4>
            <p class="descripcion"> <%= element.description %></p>
            <p class="precio"> <%= element.price %></p>
            </div>    
          
            </article>
            </a>
            </section>
            <% } %>
            <% }) %>
        </section>
        <section class="productos oculto" id="contenido2" >
            
            <% products.forEach(element => { %>
                <%if (element.id == 10 || element.id == 8 || element.id == 4) { %>
            <section class="prod" id="contenido2">    
            <a href="/products/<%= element.id %>"></a>
            <article class= "producto1">
            <div class="imagenIconos">
            <picture class= "imagenProducto">
            <img src="/uploads/<%= element.File.url %>" alt="spa">
            </picture>
            <h3 class="tituloImagen"><%= element.name %></h3>
            <div class="iconosImagen">
            <i class="far fa-heart corazon"></i>
            <i class="far fa-user usuario"></i>
            </div>
            </div>
            <div class="caracteristicas">
            <h4 class= "tituloProducto"> <%= element.name %></h4>
            <p class="descripcion"> <%= element.description %></p>
            <p class="precio"> <%= element.price %></p>
            </div>    
          
            </article>
            </a>
            </section>
            <% } %>
            <% }) %>
        </section>
    </section>
    
    <section class="banner">
        <i class="fas fa-gift regaloGrande"></i>
        <div class="botonytexto">
        <p class="textoBanner">¡Hacé un regalo empresarial! <br> Fidelizá clientes y colaboradores con ENJOY, hacer un regalo nunca fue tan fácil y original</p>
        <button type="submit" class="botonBanner"><a href="/corporativas">Mirá nuestras soluciones corporativas</a></button>
        </div>
    </section>
    </main>
    <%- include('./partials/footer') %> 
    
</body>
</html>