
<%- include("./partials/head")  %> 
<body>
    <%- include("./partials/header")  %>
    <h2>Usuario: <%= user.fisrtName %> <%= user.lastName %> </h2>
    <article>
        <p><%= user.email %> </p>
        
        <!-- Poner esto de los datos -->

    </article>

    <%- include("./partials/footer")  %>

</body>
</html>