
<%- include("./partials/head")  %> 
<body>
    <%- include("./partials/header")  %>
    <h2>Usuarios:</h2>
    
    <article>
      <%= user.firstName %> <%= user.lastName %> 
        <p><%= user.email %> </p>
        <p> <%= user.image %> </p>
        
      <% if (user.isAdmin == true) { %>
       <p>este usuario es administrador</p>
      <% } %>     
      <% if (element.isActive == true) { %>
        <p>este usuario esta activo</p>
       <% } %> 
    </article>

    <%- include("./partials/footer")  %>

</body>
</html>