<link rel="stylesheet" href="/css/header.css">
<header> 
    <script>
        function show() {
           
    document.getElementById("abrir").style.display = "none";
    document.getElementById("cerrar").style.display = "inline";
           
}
        
        function noShow() {
    
   
    document.getElementById("abrir").style.display = "inline";
    document.getElementById("cerrar").style.display = "none";
}

         
        </script>
    <section class="dflexn" id="barraSuperior"> 
        <section class="dflexn nav1">
            
                <ul class="menu">
                    <a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="show()">
                        <li><i class="fas fa-bars menuIcon" id="barras"></i>
                    </a>
                
                
                <ul id="cerrar" class="submenu">
                    <a id="cerrar" class="abrir-cerrar" href="javascript:void(0)" onclick="noShow()">
                        <i class="hide fa fa-times" aria-hidden="true" id="cruz"></i>
                    </a>
                    
                    <% if (!user){ %>
                     
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Registrarse</a></li>
                    <li data-v-668d4b1a="" class="menuDivider"></li>
                    <li><a href="/categories">Todas las Categorias</a></li>
                    <li><a href="/products">Todos los Productos</a></li>
                    <% } else if (user && user.isAdmin){ %>
                    
                    <li><a href="/users/<%= user.id %>">Mi Perfil</a></li>
                    
                    <li data-v-668d4b1a="" class="menuDivider"></li>
                    <li><a href="/products/cart">Carrito</a></li>
                    <li><a href="/products/compras">Mis compras realizadas</a></li>
                    <li data-v-668d4b1a="" class="menuDivider"></li>
                    <li><a href="/categories">Todas las Categorias</a></li>
                    <li><a href="/products">Todos los Productos</a></li>
                    <li><a href="/admins/crearproducto">Crear producto</a></li>
                    <li data-v-668d4b1a="" class="menuDivider"></li>
                    <li><a href="/users/list">Lista de usuarios</a></li>
                    <% } else { %>
                    
                    <li><a href="/users/<%= user.id %>">Mi Perfil</a></li>
                    
                    <li class="menuDivider"></li>
                    <li><a href="/products/cart">Carrito</a></li>
                    <li><a href="/products/compras">Mis compras realizadas</a></li>
                    <li><a href="/products/crearcomentario">Crear comentario</a></li>
                    <li data-v-668d4b1a="" class="menuDivider"></li>
                    <li><a href="/categories">Todas las Categorias</a></li>
                    <li><a href="/products">Todos los Productos</a></li>
                    <% } %>                    
                </ul>
                </ul>
                </li>

            <a href="/"><img src= "\images\ENJOY.png" alt="Logo"> </a>
        </section>
        <nav class="dflex">
            <form action="/products/search" method="post">
                <fieldset>
                    <input type="search" name="search" id="search" placeholder="Busca acá tus experiencias">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
            </form>
            <a href="/abriTuExperiencia"> <i class="fas fa-gift"></i> <p>¡Abrí tu experiencia!</p> </a>
            <a href="/products/cart"> <i class="fas fa-shopping-cart"></i> </a>
            <a href="/favoritos">  <i class="far fa-heart"></i> </a>
        </nav>
    </section>
    <section id="barraInferior" class="dflex">
        <% if (!user){ %>
            <i class="far fa-user"></i>
        <button type="submit" id="headerButtonLeft"><a href ="/users/login">Log in </a> </button>  
        <button type="submit" id="headerButtonRight"><a href="/users/register">Registrate </a> </button> 
        <% } else if (user && user.isAdmin){ %>
            <button type="submit" id="headerButtonLeft"><a href="/users/<%= user.id %>"> Mi Perfil </a> </button>
           <form action="/users/logout"  method="post"><button type="submit" id="botonlogout" >Logout</button> </form>
            
        <% } else { %>
                <button type="submit" id="headerButtonLeft"><a href="/users/<%= user.id %>">¡Hola <%= user.firstName %>!  </a> </button>
                <form action="/users/logout"  method="post"><button id="botonlogout" type="submit">Logout</button> </form>
        <% } %>
        
              
    </section>                    
</header>