<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>

    <section class="agregarProd">
        <form action="/admins/guardar" enctype="multipart/form-data" method="post" id="createProductForm">  

            <fieldset class="form">
            <div class="nuevoProducto">
                    <h2 class="tituloPrincipal">Crear producto</h2>
 
                <label for=""> Nombre: </label>
                <input type="text" placeholder="" name="name" id="name" >
                <p class="nameFeed"></p>
                <% if (locals.errors && errors.name) { %>
                        <p><%= errors.name.msg %> </p>
                <% } %>
                <br>

                <label for="">Descripción:</label>
                <input type="text" placeholder="" name="description" id="description" >
                <p class="descriptionFeed"></p> 
                <% if (locals.errors && errors.description) { %>
                  <p><%= errors.description.msg %> </p>
                <% } %>
                <br>

                <label for="">Resumen del producto:</label>
                <input type="text" placeholder="" name="resume" id="resume" >
                <% if (locals.errors && errors.resume) { %>
                  <p><%= errors.resume.msg %> </p>
                <% } %>
                <br>

                <label for="">Título:</label>
                <input type="text" placeholder="" name="title" id="title" >
                <% if (locals.errors && errors.title) { %>
                  <p><%= errors.title.msg %> </p>
                <% } %>
                <br>

                <label for="">Ubicación:</label>
                <input type="text" placeholder="" name="location" id="location" >
                <% if (locals.errors && errors.location) { %>
                  <p><%= errors.location.msg %> </p>
                <% } %>
                <br>


                <label for="">Precio: </label> <br>
                <input type="number" placeholder="" name="price" id="price" >
                <% if (locals.errors && errors.price) { %>
                  <p><%= errors.price.msg %> </p>
                <% } %>
                <br>

                <label for="">Cantidad de personas: </label>
                <input type="number" placeholder="" name="persons" id="persons" >
                <% if (locals.errors && errors.persons) { %>
                  <p><%= errors.persons.msg %> </p>
                <% } %>
                <br>
                
                <label for="">Imagen:</label>
                <input type="file"  name="file" id="file" multiple>
                <p class="fileFeed"></p>
                <% if (locals.errors && errors.file) { %>
                  <p><%= errors.file.msg %> </p>
                <% } %>
                <br>
                
                <label for="user">Categoría:</label> 
                    <select value= "category" name="category" id="category">
                
                      <option>Gastronomia</option>
                      <option>Aventura</option>
                      <option>Estar Bien</option>
                      <option>Entretenimiento</option>
                      <option>Estadias</option>

                    </select>
              <button type="submit" id="createProductButton"> Agregar Producto</button>   
       </div>
       </fieldset>
      </form>
  </section>         
   <script src="/js/productsCreate.js"></script>
</main>
<%- include('../partials/footer') %> 
</body>
</html> 