<%- include('../../partials/head') %> 
<link rel="stylesheet" href="/css/categories/<%=style%>.css">

<body>
    <%- include('../../partials/header') %> 

    <main>
        <h1>ESTADÍAS</h1>
        <p class= "subtitulo"> Regalá un conjunto de experiencias, tu agasajado elige cuál vive</p>

        <ul class= "listadoProductos">
            <% products.filter(element => element.category == "Estadías").forEach(element => { %>
                <li class= "imagenDescripcion">
                    <a href="/products/<%= element.id %>">
                    <picture class= "imagenProducto">
                        <img src= "/images/categorias/<%= element.image %>" class="imagenProducto">
                    </picture>
                    <h2 class= "tituloImagen"> <%= element.name %> </h2>
                    <p> <%= element.description %> </p>
                    <p class= "personaPrecio"> Para <%= element.persons %> personas | $ <%= element.price %> </p>
                </a>
                    <p></p>
                </li>
            <% }) %>
        </ul>
    </main>
    
    <%- include('../../partials/footer') %> 

</body>
</html>