<%- include('../../partials/head') %> 
<link rel="stylesheet" href="/css/categories/<%=style%>.css">

<body>
    <%- include('../../partials/header') %> 

    <main>
        <h1>ESTAR BIEN</h1>

        <ul>
            <% products.filter(element => element.category == "Estar Bien").forEach(element => { %>
                <li>
                    <h2> <%= element.name %> </h2>
                    <p> <%= element.description %> </p>
                    <p> Para <%= element.persons %> personas | $ <%= element.price %> </p>
                    <p></p>
                </li>
            <% }) %>
        </ul>
    </main>
    
    <%- include('../../partials/footer') %> 

</body>
</html>