<%- include('../../partials/head') %> 
<link rel="stylesheet" href="/css/categories/<%=style%>.css">

<body>
    <%- include('../../partials/header') %> 

    <main>
        <h1>GASTRONOMIA</h1>
        <p> Regalá un conjunto de experiencias, tu agasajado elige cuál vive</p>
        <ul>
            <% products.filter(element => element.category == "Gastronomía").forEach(element => { %>
                <li>
                    <picture class= "imagenProducto">
                        <img src= <%= element.image %> class="imagenProducto">
                    </picture>
                    <h2> <%= element.name %> </h2>
                    <p> <%= element.description %> </p>
                    <p> Para <%= element.persons %> personas | $ <%= element.price %> </p>
                    <p></p>
                </li>
            <% }) %>
        </ul>
    </main>

     



    
    <%- include('../../partials/footer') %> 

</body>
</html>