<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>
    <section class="modificarUsuario" id="editUserForm">
        <form action="/users/<%= user.id %>?m=PUT" enctype="multipart/form-data" method="post">            
            <fieldset class="form">
                <div class="editarUsuario">
                <h2 class="tituloPrincipal">Actualizar tus datos</h2>

                <h3>Nombre: </h3>
                <label for=""></label>
                <input type="text" placeholder="Escribí acá el nuevo nombre" name="firstName" id="firstName" value=" <%= user.firstName %> " >
                <span class="firstNameFeed"></span>
                <% if (locals.errors && errors.firstName) { %>
                  <p><%= errors.firstName.msg %> </p>
                <% } %>
                

                <h3>Apellido: </h3>
                <label for=""></label>
                <input type="text" placeholder="Escribí acá el apellido" name="lastName" id="lastName"  value=" <%= user.lastName %> ">
                <span class="lastNameFeed"></span>
                <% if (locals.errors && errors.lastName) { %>
                  <p><%= errors.lastName.msg %> </p>
                <% } %>

                <h3>Email: </h3>
                 <label for=""></label> 
                 <input type="email" placeholder="Escribí acá el nuevo email" name="email" id="email"  value=" <%= user.email %> ">
                 <span class="emailFeed"></span>
                 <label for=""></label> 
                 <% if (locals.errors && errors.email) { %>
                    <p><%= errors.email.msg %> </p>
                  <% } %>

                 <h3>Nueva contraseña:</h3>
                 
                 <label for=""></label> 
                 <input type="password" placeholder="Escribí acá la nueva contraseña" name="password" id="password">
                 <span class="passwordFeed"></span>
                 <label for=""></label> 
                 <% if (locals.errors && errors.password) { %>
                    <p><%= errors.password.msg %> </p>
                  <% } %>
                 
                

                 <label for="">Imagen:</label>
                 <input type="file"  name="image" id="file">
                 <span class="fileFeed"></span>
                 <label for=""></label>
                 <% if (locals.errors && errors.image) { %>
                  <p><%= errors.image.msg %> </p>
                <% } %>


                </select>
             </p>

         <button type="submit" href="/users/<%= user.id %> " id="submitButton">Guardar</button>   
      </div> 
    <script src="/js/editUser.js"></script>
  </fieldset>
        </form>
  </section>         
   
</main>
<%- include('../partials/footer') %> 
</body>
</html> 