<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>
    <section class="modificarUsuario">
        <form action="/users/<%= user.id %>?m=PUT" method="post">            
            <fieldset class="form">
                <div class="editarUsuario">
                <h2 class="tituloPrincipal">Actualizar tus datos</h2>

                <h3>Nombre: </h3>
                <p><%= user.firstName %> </p>
                <label for=""></label>
                <input type="text" placeholder="Escribí acá el nuevo nombre" name="name" id="" value:" <%= user.firstName %> " >
                <span class="feedback"></span>

                <h3>Apellido: </h3>
                <p><%= user.lastName %> </p>
                <label for=""></label>
                <input type="text" placeholder="Escribí acá el apellido" name="lastName" id=""  value:" <%= user.lastName %> ">
                <span class="feedback"></span>

                <h3>Email: </h3>
                  <p> <%= user.email %> </p>
                 <label for=""></label> 
                 <input type="text" placeholder="Escribí acá el nuevo email" name="email" id=""  value:" <%= user.email %> ">
                 <span class="feedback"></span>
                 <label for=""></label> 

                 <h3>Nueva Contraseña:</h3>
                 
                 <label for=""></label> 
                 <input type="password" placeholder="Escribí acá la nueva contraseña" name="password"   value:" <%= user.password %> ">
                 <span class="feedback"></span>
                 <label for=""></label> 

                 
                

                 <label for="">Imagen:</label>
                 <input type="file"  name="image" id="file" value:" <%= user.image %>>
                 <span class="feedback"></span>
                 <label for=""></label>


                </select>
             </p>

         <button type="submit" href="/">Guardar cambios</button>   


      </div> 
    
  </fieldset>
        </form>
  </section>         
   
</main>
<%- include('../partials/footer') %> 
</body>
</html> 