<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>
    <section class="modificarUsuario">
        <form action="/users/<%= user.id %>?m=PUT" method="post">            
            <fieldset class="form">
                <div class="editarUsuario">
                <h2 class="tituloPrincipal">Actualizar tus datos</h2>

                <h3>Nombre: </h3>
                <label for=""></label>
                <input type="text" placeholder="Escribí acá el nuevo nombre" name="firstName" id="firstName" value=" <%= user.firstName %> " >
                <span class="feedback"></span>
                

                <h3>Apellido: </h3>
                <label for=""></label>
                <input type="text" placeholder="Escribí acá el apellido" name="lastName" id="lastName"  value=" <%= user.lastName %> ">
                <span class="feedback"></span>

                <h3>Email: </h3>
                 <label for=""></label> 
                 <input type="text" placeholder="Escribí acá el nuevo email" name="email" id=""  value=" <%= user.email %> ">
                 <span class="feedback"></span>
                 <label for=""></label> 
                 <% if (locals.errors && errors.email) { %>
                    <p><%= errors.email.msg %> </p>
                  <% } %>

                 <h3>Nueva contraseña:</h3>
                 
                 <label for=""></label> 
                 <input type="password" placeholder="Escribí acá la nueva contraseña" name="password" required>
                 <span class="feedback"></span>
                 <label for=""></label> 
                 <% if (locals.errors && errors.password) { %>
                    <p><%= errors.password.msg %> </p>
                  <% } %>
                 
                

                 <label for="">Imagen:</label>
                 <input type="file"  name="image" id="file">
                 <span class="feedback"></span>
                 <label for=""></label>


                </select>
             </p>

         <button type="submit" href="/" id="submitButton">Guardar</button>   


      </div> 
    
  </fieldset>
        </form>
  </section>         
   
</main>
<%- include('../partials/footer') %> 
</body>
</html> 