<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %>

    <main>
    <h2>Usuarios:</h2> 
    <% users.forEach(element => { %>
        <article>
        <h3><%= element.firstName %> <%= element.lastName %></h3>
        <p> <%= element.email %> </p>
        <img src= "/uploads/<%=element.image %>">
        <% if (element.isAdmin == true) { %>
            <p>este usuario es administrador</p>
           <% } %> 

        <% if (element.isActive == true) { %>
            <p>este usuario esta activo</p>
           <% } %>
        </article>
        <form action="/users/delete/?m=DELETE" method="post">
            <input type="hidden" name="id" value="<%= element.id %>">
            <button type="submit" class="deleteButton"><i class="fas fa-trash"></i></button>
        </form>

    <% }) %>
    
</main>

    <%- include("../partials/footer")  %>

</body>
</html>