<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %>

    <main>
    <h1>Usuarios:</h1> 
    <article class="users">
    
    <% users.forEach(element => { %>
        <div class="cadaUsuario">
        <a href="/users/<%= element.id %> ">
            <h3 class="nombres"><%= element.firstName %> <%= element.lastName  %></h3>
        </a>
        <p class="email"> <%= element.email %> </p>
        <picture class= "imagenUsuario">
        <img src= "/uploads/<%=element.image %>">
    </picture>
        <% if (element.isAdmin == true) { %>
            <p class="administrador">este usuario es administrador</p>
           <% } %> 

        <% if (element.isActive == true) { %>
            <p class="actividad">este usuario esta activo</p>
           <% } %>
        
        
        <form action="/users/delete/?m=DELETE" method="post">
            <input type="hidden" name="id" value="<%= element.id %>">
            <button type="submit" class="deleteButton"><i class="fas fa-trash"></i></button>
        </form>
    </div> 
    <% }) %>
 
</article>
</main>

    <%- include("../partials/footer")  %>

</body>
</html>