<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
       

    <main>
        
        <div styles="background-image:url('../images/loogin.jpg')"></div>
    <section class="formularioInicio">
        <form action="/users/access" method="post" id="loginForm">            
            <section class="form">
                <div class="inicioSesion">
                <h1 class="tituloLogin">Ingresa a tu cuenta</h1>
                
                <label for="">Correo electronico :</label>
                <input type="text"  name="email" id="email" >
                <span class="emailFeed"></span>
                <% if (locals.errors && errors.email) { %>
                    <p><%= errors.email.msg %> </p>
                  <% } %>
                  <br>
                  
                <label for="">Contraseña :</label>
                <input type="password" name="password" id="password">
                <span class="passwordFeed"></span>
                <% if (locals.errors && errors.password) { %>
                    <p><%= errors.password.msg %> </p>
                  <% } %>
                  <br>
            </div>
            <label for="remember" class="remember"><input type="checkbox" name="remember" value="remember" > Recordar mis datos </label>
           <nav class="olvide-password">
               <a href= "#">¿Olvidaste tu contraseña?</a>
           </nav>
           <button type="submit" id="loginBtn">iniciar sesion</button>
           
        </section>
        </form>
     <section class="redes">
         <h2>Continua con:</h2>
        <nav>
            <a href="https://www.facebook.com/"> <i class="fab fa-facebook"></i> </a>
            <a href="https://www.google.com/"> <i class="fab fa-google"></i> </a>
        </nav>
        </section>
        <section class= "crear-cuenta">
            
            <nav>
                <p>¿Todavía no tenes cuenta? <a href="/users/register"> Crear cuenta</a>  </p>
            </nav>
        </section>
     </section> 
     

    </main>
    <script src="/js/login.js"></script>
    <%- include('../partials/footer') %> 
    
</body>
</html>