
<%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %>

    <main>
        <section id="main">
         <div styles="background-image:url('../images/aaventura.jpg')"></div>
           <section class="registro">
            <form action="/users/" method="post" enctype="multipart/form-data"  class="formularioRegistro">      
                <fieldset class="formreg">
                    <h1 class="crearCuenta">Crear cuenta</h1> 
                    <label for>Nombre :</label>
                    <input type="text" name="firstName" minlength="3" >
                    <span class="feedback"></span>
                    <% if (locals.errors && errors.firstName) { %>
                        <p><%= errors.firstName.msg %> </p>
                      <% } %>
                    <label for>Apellido :</label>
                    <input type="text" name="lastName" minlength="3" id >
                    <% if (locals.errors && errors.lastName) { %>
                        <p><%= errors.lastName.msg %> </p>
                      <% } %>
                    <label for>Correo electronico :</label>
                    <input type="email" name="email" id >
                    <% if (locals.errors && errors.email) { %>
                        <p><%= errors.email.msg %> </p>
                      <% } %>
                    <label for>Contraseña :</label>
                    <input type="password" name="password" minlength="8" placeholder="*****" >
                    <% if (locals.errors && errors.password) { %>
                        <p><%= errors.password.msg %> </p>
                      <% } %>
                    <label for="">Foto de usuario :</label> 
                    <input type="file" id="file" name="image">
                    <% if (locals.errors && errors.image) { %>
                        <p><%= errors.image.msg %> </p>
                      <% } %>
                </fieldset>
                <div class="ultimaSeccionMain">
                <label for="terminos y condiciones" class="terms"><input type="checkbox" name="te condiciones" value="terminos y condiciones" > He leido y acepto los terminos y condiciones del sitio </label>
                <button type="submit">Registrarme</button> 
            </div>
            </form>
            </section>
            

        </section>
        <section> 
            <p>¿Ya tenés una cuenta? </p>
            <button type="submit">
                <a href="/users/login">Iniciá Sesion</a>
            </button>
        </section> 
    </main>
    <%- include('../partials/footer') %> 
    
</body>
</html>