<%- include("../partials/head")  %> 

<body class="body">
    <%- include("../partials/header")  %>

    <main>
    <article>
        <div class="div">
        <h2 class="nombres"><%= user.firstName %> <%= user.lastName %> </h2>
        <p class="email" id="paragrah"><%= user.email %> </p>
         
        <% if (user.File != null) { %>
            <picture class= "imagenUsuario"></picture>
                <img src= "/uploads/<%=user.File.url %>">
            </picture>
            <% } else { %> 
             <picture class= "imagenUsuario"></picture>
             <img src= "/uploads/default.png">
         </picture>
         <% } %>
        
      <% if (user.isAdmin == true) { %>
       <p id="paragrah"> este usuario es administrador</p>
      <% } %>  

      <% if (user.isActive == true) { %>
        <p class="actividad" id="paragrah"> este usuario esta activo </p>
       <% } %> 
    
    <p class="datos" id="paragrah">Actualizá tus datos:</p>
    <a href="/users/editarusuario/<%= user.id %>"><i class="fas fa-pen"></i></a>
    </div>
   </article>
</main>

    <%- include("../partials/footer")  %>

</body>
</html>