<%- include("../partials/head")  %> 

<body class="body">
    <%- include("../partials/header")  %>

    <main>
    <article class="flexU">
        <div class="div">
        <h2 class="nombres"><%= user.firstName %> <%= user.lastName %> </h2>
        <p class="email" id="paragrah"><%= user.email %> </p>
        <% if (user.File != null) { %>
            <picture class= "imagenUsuario"></picture>
                <img class= foto src= "/uploads/<%=user.File.url %>">
            </picture>
            <% } else { %> 
             <picture class= "imagenUsuario"></picture>
             <img class= foto src= "/uploads/default.png">
         </picture>
         <% } %>
        
      <% if (user.isAdmin == true) { %>
       <p id="paragrah"> Este usuario es administrador</p>
      <% } %>  

      <% if (user.isActive == true) { %>
        <p class="actividad" id="paragrah"> Este usuario está activo </p>
       <% } %> 
    
    <p class="datos" id="paragrah">Actualizá tus datos:</p>
    <section class="iconos">
    <a href="/users/editarusuario/<%= user.id %>"><i class="fas fa-pen"></i></a>

    </div>

   </article>
</main>

    <%- include("../partials/footer")  %>

</body>
</html>