<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %>

    <main>
        <h1>Usuarios:</h1> 
    <article>
        <div>
        <h2 class="nombres"><%= user.firstName %> <%= user.lastName %> </h2>
        <p class="email"><%= user.email %> </p>
        <img src= "/uploads/<%=user.image %>">
        
      <% if (user.isAdmin == true) { %>
       <p>este usuario es administrador</p>
      <% } %>  

      <% if (user.isActive == true) { %>
        <p class="actividad"> este usuario esta activo </p>
       <% } %> 
    
    <p>Actualizá tus datos:</p>
    <a href="/users/editarusuario/<%= user.id %>"><i class="fas fa-pen"></i></a>
    </div>
   </article>
</main>

    <%- include("../partials/footer")  %>

</body>
</html>